/*
Author: Andrew Y, Bella C, Jin F
Date: today >:/
File name: style.class*/

/*CSS Reset */
body, header, nav, main, footer, h1, div, img, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

/* NAV */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #588157;
  display: flex;
  justify-content: center;
  
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.5em 3em;
  margin: 0 2em 0 2em;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #3A5A40;
}

/* Styles for Home page */
