/*
Author: Andrew Y, Bella C, Jin F
Date: today >:/
File name: style.class*/

/*CSS Reset */
body, header, nav, main, footer, h1, div, img, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Base */
body{
  font-family: "Poppins", Arial, sans-serif;
  background-color: #f4f4ef;
  color: #2b2b2b;
}

/* NAV */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #588157;
  display: flex;
  justify-content: center;
  
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1.5em 3em;
  margin: 0 2em 0 2em;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #3A5A40;
}

.logo{
  
}

/* All Links */

/* Styles for All pages */
h2{ 

}

main{
  
}

img{
  max-width: 100%
}

ul{
  
}

li{
  
}

/* Styles for Home Page */
mission-box{
  position: absolute;
  top: 20%;
  right: 10%;
  background: rgba((255, 255, 255, 0.9);
  padding: 1.5rem;
  max-width: 350px;
  border-radius: 8px;
}
button{ 

}

main ul{
  display: block
    inline-blockleft
}

